doctype html
html(ng-app="comments")
    head
      title= title
      link(rel='stylesheet' href='//cdn.jsdelivr.net/pure/0.6.0/pure-min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(href="//fonts.googleapis.com/css?family=Caveat+Brush", rel="stylesheet")
      link(async, href="//fonts.googleapis.com/css?family=Gochi%20Hand", rel="stylesheet", type="text/css")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      script(src='//www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit',async , defer)
      script(src='/libs/angular/angular.min.js')
      script(src='/libs/angular-sanitize/angular-sanitize.min.js')
      script(src='/libs/angular-resource/angular-resource.min.js')
      script(src='/libs/angular-recaptcha/release/angular-recaptcha.min.js')
      script(src='/libs/tinymce-dist/tinymce.min.js')
      script(src='/libs/angular-ui-tinymce/dist/tinymce.min.js')
      script(src='/javascripts/app.js')
    body
        block content
